.categories {
  background-color: #405cf5;
  position: absolute;
  width: 100%;
  left: 0;
  color: white;
}
.invisible-container {
  position: absolute;
  min-width: 100%;
  transition: opacity 150ms ease-in-out;
  top: 100%;
  left: 0;
  max-height: calc(100vh - 145px);
  background-color: #405cf5;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 20px calc((100% - 1240px) / 2) 40px;
}
.invisible-container .child {
  padding: 0 20px;
  flex: 1;
}
.category:hover .invisible-container {
  visibility: visible;
  opacity: 1;
}
