@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  background-color: #0a1d56;
  color: #ffffff;
  font: Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
ol,
ul {
  list-style: none;
}
